head

  meta(http-equiv = 'x-ua-compatible' content = 'ie=edge')
  meta(charset = 'utf-8')
  meta(name = 'viewport' content = 'width=device-width initial-scale=1')

  title #{context.name}

  meta(name = 'robots' content = 'index, follow')

  link(rel = 'stylesheet' href = '@root/styles/main.scss')

  noscript
    style.js-only { display: none; }
