
mixin projects_card(projects)
  .card
    .card-header
      h3 #{projects.heading}
    .card-body
      //- content
    .card-footer.text-end
      - var nav_item = NavItems.find((element, index, array) => { return element.key === 'projects' });
      a(href=nav_item.url) View All
  