include publications_entry.pug

mixin publications(publications)
  ul.list-group.list-group-flush
    each publication in publications
      li.list-group-item
        +publication(publication)

mixin publications_card(selected_publications, publications)
  .card
    h4.card-header Selected #{publications.heading}
    //-.card-body
    +publications(selected_publications.reverse())
    .card-footer.text-end
      - var nav_item = NavItems.find((element, index, array) => { return element.key === 'publications' });
      if nav_item.disabled
        a.text-muted View All
      else
        a(href=nav_item.url) View All
