extends template.pug

//- block variables
//-   - var PageName = "#{context.name}"
//-   - var PageID = "index"
//- block content <- block
//- block sidecontent <- block
//- PrimaryNavigation <- optional overwrite
//- scripts <- block append
