<div class="row justify-content-center">
  <h1>{{ site.data.publications.heading.[page.lang] | escape }}</h1>
</div>

{% assign publications = site.data.publications.publications | sort:"date" %}
{% assign previous_year = "" %}
{% for p in publications reversed %}
{% assign date = p.date | split: '-' %}
{% if date[0] != previous_year %}
  <div class="row">
    <div class="col-12 offset-0">
      <h2>{{ date[0] }}</h2>
    </div>
  </div>
  {% assign previous_year = date[0] %}
{% endif %}
<div class="row{% if p != publications.first %} not-last{% endif %}">
  <div class="col-12 offset-0 col-sm-3">
    {% assign thumbnail_src = p.thumbnail %}
    {% assign thumbnail_alt = p.title %}
    {% assign thumbnail_flickr = p.flickr %}
    {% include thumbnail.html %}
  </div>
  <div class="col-12 col-sm-9{% if p.pending %} text-muted{% endif %}">
    {% if p.articletype %}<span class="text-muted">{{ p.articletype }}</span>{% endif %}
    {% if p.stamps %}
    {% for stamp in p.stamps %}<a class="ml-1" href="{{ stamp.href }}" style="vertical-align: text-bottom;"><img src="/img/{{ stamp.icon }}" style="height: 1.1rem;" /></a>{% endfor %}
    {% endif %}
    <h4>{{ p.title | escape }}</h4>
    <p>
        {% for author in p.authors %}{% if p.authors.size >= 2 and author == p.authors.last %}and {% endif %}{{ author }}{% if p.authors.size > 2 and author != p.authors.last %},{% endif %} {% endfor %}
        <br>
	      {% if p.note %}<span class="text-muted">{{ p.note }}</span><br>{% endif %}
        <span class="text-muted">{{ p.published }}</span>
        <br />
        <span>
          {% if p.bibtex %}<a data-toggle="modal" href="#bibtex-{{ p.key }}">BibTeX</a>{% else %}BibTex pending{% endif %}
          {% if p.caption[page.lang] %}, <a data-toggle="collapse" href="#abstract-{{ p.key }}" role="button">{{ site.data.publications.abstract.[page.lang] }}</a>{% endif %}
          {% if p.doi %}, <a href="https://doi.org/{{ p.doi }}"><span style="font-variant: small-caps;">doi</span>:{{ p.doi }}</a>{% endif %}
        </span>
    </p>
    <p class="collapse" id="abstract-{{ p.key }}">
      {{ p.caption.[page.lang] }}
    </p>
    {% if p.pending %}<p>In press</p>{% endif %}
    {% if p.downloads.size > 0 %}<p>
      {% for download in p.downloads %}
        {% if download.href && download.href != "" %}<a {% if download.video %}class="video-{{ download.video }}" {% endif %}href="{{ download.href }}">{{ download.desc | escape }}</a>{% else %}<span class="text-muted">{{ download.desc | escape }}</span>{% endif %}{% if download != p.downloads.last %}, {% endif %}
      {% endfor %}
    </p>{% endif %}
    {% if p.bibtex %}
    <div class="modal fade" id="bibtex-{{ p.key }}" tabindex="-1" role="dialog" aria-labelledby="bibtex-{{ p.key }}" aria-hidden="true">
      <div class="modal-dialog"  role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">BibTeX Entry</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <pre id="bibtex-data-{{ p.key }}">{% include /bib/{{ p.bibtex }} %}</pre>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <button type="button" data-clipboard-target="#bibtex-data-{{ p.key }}" class="btn btn-primary btn-sm btn-clipboard">Copy to Clipboard</button>
            <a href="/bib/{{ p.bibtex }}" class="btn btn-primary btn-sm">Download</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}
