extends /template/defaultcontent.pug

include /partials/news_list.pug

block variables
  - var PageName = "Home"
  - var PageID = "index"
  -
    var news_keys = Object.keys(news);
    news_keys.sort();
    news_keys.reverse();
    news_keys.length = Math.min(news_keys.length, 10);

block navbar
  include partials/navbar

block footer
  include partials/footer

block content
  .card
    .card-header
      h3 Research Group for #{context.group}
    .card-body
      //- content
