<div class="row text-xs-center">
  <h1>{{ site.data.committeework.heading.[page.lang] | escape }}</h1>
</div>

{% assign committees = site.data.committeework.committees %}
<div class="row">
{% for c in committees %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h5>{{ c.title[page.lang] }}</h5>
      <p class="text-muted">{{ c.role }}</p>
      {% if c.projects.size > 0 %}
        <ul>
          {% for p in c.projects %}
            <li>{{ p[page.lang] }}</li>
          {% endfor %}
        <ul>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
