<div class="row text-center">
  <h1>{{ site.data.committeework.heading.[page.lang] | escape }}</h1>
</div>

{% assign committees = site.data.committeework.committees %}
{% for c in committees %}
  <div class="row">
    <div class="col-md-2 offset-md-1 text-md-right">
      {% if c.until %}
        {% if c.since == c.until %}
          in {{ c.until }}
        {% else %}
          {{ c.since }}–{{ c.until }}
        {% endif %}
      {% else %}
        {{ site.data.committeework.since[page.lang] }} {{ c.since }}
      {% endif %}
    </div>
    <div class="col-md-7">
      <p>{{ c.title[page.lang] }}<span class="text-muted">, {{ c.role[page.lang] }}</span></p>
      <p class="text-muted">{{ c.institution[page.lang] }}</p>
      {% if c.projects.size > 0 %}<ul class="list-unstyled">
        {% for p in c.projects %}
          <li>{{ p[page.lang] }}</li>
        {% endfor %}
      </ul>{% endif %}
    </div>
  </div>
{% endfor %}
