{% capture nav_prefix %}/{{ page.lang }}/{% endcapture %}
{% capture lang_lc %}{{ lang | downcase }}{% endcapture %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand ml-2" href="#page-top">
      <span>{{ site.author }}</span>
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse w-100 mr-2" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 justify-content-center">
        {% if site.data.publications.publications.size > 0 %}
        <li class="nav-item"><a class="nav-link" href="#publications">{{ site.data.publications.heading.[page.lang] | escape }}</a></li>
        {% endif %}
        {% if site.data.academicservice.services.size > 0 %}
        <li class="nav-item"><a class="nav-link" href="#academicservice">{{ site.data.academicservice.heading.[page.lang] | escape }}</a></li>
        {% endif %}
        {% if site.data.committeework.committees.size > 0 %}
        <li class="nav-item"><a class="nav-link" href="#committeework">{{ site.data.committeework.heading.[page.lang] | escape }}</a></li>
        {% endif %}
        {% if site.data.grants.grants.size > 0 %}
        <li class="nav-item"><a class="nav-link" href="#grants">{{ site.data.grants.heading.[page.lang] | escape }}</a></li>
        {% endif %}
        {% if site.data.projects.projects.size > 0 %}
        <li class="nav-item"><a class="nav-link" href="#projects">{{ site.data.projects.heading.[page.lang] | escape }}</a></li>
        {% endif %}
        {% if site.data.talks.talks.size > 0 %}
        <li class="nav-item"><a class="nav-link" href="#talks">{{ site.data.talks.heading.[page.lang] | escape }}</a></li>
        {% endif %}
        {% if site.data.teaching.terms.size > 0 %}
        <li class="nav-item"><a class="nav-link" href="#teaching">{{ site.data.teaching.heading.[page.lang] | escape }}</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="#contact">{{ site.data.contact.heading.[page.lang] | escape }}</a></li>
      </ul>
      <ul id="lang-select" class="navbar-nav">
        {% for lang in site.languages %}
          {% if lang != page.lang %}
            {% capture page_lang %}/{{ page.lang }}/{% endcapture %}
            {% capture lang_lo %}/{{ lang | downcase }}/{% endcapture %}
            {% capture href %}{{ page.url | replace : page_lang, lang_lo }}{% endcapture %}
            {% capture href %}{{ href | replace : '.html', '' }}{% endcapture %}
          <li class="nav-item"><a class="nav-link" onclick="scrollAwareHRef($(this), '{{ href }}')" href="{{ href }}">{{ lang | upcase }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  </div>
</nav>
