<div class="row project">
  <div class="col-sm-3">
    {% assign thumbnail_src = p.thumbnail %}
    {% assign thumbnail_alt = p.title %}
    {% assign thumbnail_flickr = p.flickr %}
    {% if p.thumbnail %}{% include thumbnail.html %}{% endif %}
  </div>
  <div class="col-sm-3">
    <h4>{{ p.title | escape }}</h4>
    {% if p.role %}<p>{{ site.data.projects.role[page.lang] }}: {{ p.role }}</p>{% endif %}
    {% if p.type %}<p>{{ site.data.projects.type[page.lang] }}: {{ p.type }}</p>{% endif %}
  </div>
  <div class="col-sm-6">
    <p>
      {{ p.caption.[page.lang] }}
    </p>
    <p>{% if p.bibtex %}<a data-toggle="modal" href="#bibtex-{{ p.key }}">BibTex</a>{% if p.downloads %}, {% endif %}{% endif %}
      {% if p.downloads %}{% for download in p.downloads %}<a {% if download.video %}class="video-{{ download.video }}" {% endif %}href="{{ download.href }}">{{ download.desc }}</a>{% if download != p.downloads.last %}, {% endif %}{% endfor %}{% endif %}&nbsp;</p>
  </div>
</div>
