<script type="text/javascript" src="https://cdn.jsdelivr.net/g/jquery@2.2.1,tether@1.2.0,jquery.validation@1.15.0,blueimp-gallery@2.15.0,clipboard.js@1.5.8"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/util.js"></script>
<script type="text/javascript" src="/js/collapse.js"></script>
<script type="text/javascript" src="/js/modal.js"></script>
<script type="text/javascript" src="/js/scrollspy.js"></script>
<script type="text/javascript" src="/js/datafolio.js"></script>
<script type="text/javascript" src="/js/dropdown.js"></script>
<script type="text/javascript" src="https://publons.com/mashlets?el=badgeCont200&rid=AAF-5883-2021&size=small"></script>
