block PrimaryNavigation
  -
    var NavItems = [
      {'url':'/index.html','title':'Home', 'key': 'index'},
      {'url':'/publications.html','title':'Publications','key':'publications'},
      {'url':'/projects.html','title':'Projects','key':'projects'},
      {'disabled':true,'url':'/news.html','title':'News','key':'news'},
      {'disabled':true,'url':'/people.html','title':'People','key':'people'},
      {'disabled':true,'url':'/teaching.html','title':'Teaching','key':'teaching'}
    ];

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    a.navbar-brand(href="/") #{context.group_short}
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      .navbar-nav
        each page,i in NavItems
          if page.disabled
            a.nav-link.disabled= page.title
          else
            if PageID === page.key
              a.nav-link(class="active", href=page.url)
                = page.title
            else
              a.nav-link(href=page.url)
                = page.title
