
mixin projects_card()
  .card
    .card-header
      h3 Projects
    .card-body
      //- content
    .card-footer.text-end
      - var nav_item = NavItems.find((element, index, array) => { return element.key === 'projects' });
      a(href=nav_item.url) View All
  