
mixin publications_card(selected_keys, publications)
  .card
    .card-header
      h3 Selected #{publications.heading}
    .card-body
      //- content
    .card-footer.text-end
      - var nav_item = NavItems.find((element, index, array) => { return element.key === 'publications' });
      a(href=nav_item.url) View All
