---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{% include navbar.html %}

<section id="header" class="container">
{% include header.html %}
{% include profiles.html %}
</section>

{% if site.data.publications.publications.size > 0 %}
<section id="publications" class="container">
{% include publications.html %}
</section>
{% endif %}

{% if site.data.academicservice.services.size > 0 %}
<section id="academicservice" class="container">
{% include academicservice.html %}
</section>
{% endif %}

{% if site.data.committeework.committees.size > 0 %}
<section id="committeework" class="container">
{% include committeework.html %}
</section>
{% endif %}

{% if site.data.projects.projects.size > 0 %}
<section id="projects" class="container">
{% include projects.html %}
</section>
{% endif %}

{% if site.data.talks.talks.size > 0 %}
<section id="talks" class="container">
{% include talks.html %}
</section>
{% endif %}

{% if site.data.teaching.terms.size > 0 %}
<section id="teaching" class="container">
{% include teaching.html %}
</section>
{% endif %}

<section id="contact" class="container">
{% include contact.html %}
</section>

<section id="footer">
{% include footer.html %}
</section>

{% include scripts.html %}

</body>
</html>
